<h1><%= translate 'holidays' %></h1>

    <form action="<%= Setting.plugin_mega_calendar['sub_path'] %>holidays/index">
      <table>
        <tr>
          <td><label><%= translate 'user' %></label></td>
          <td>
            <select name="holiday[user_id]">
    	<% if User.current.admin %>
                <option value=""><%= translate 'select_default' %></option>
              <% Holiday.get_activated_users.each do |u| %>
                <option value="<%= u.id.to_s %>"><%= u.login.to_s %></option>
              <% end %>
            <% else %>
                <option value="<%= User.current.id %>"><%= User.current.name %></option>
            <% end %>
            </select>
          </td>
        </tr>
      </table>
    <input type="submit" value="<%= translate 'list' %>" />
    </form>
<table width="100%" height="80%">
  <tr>
    <td><%= translate 'user'%></td>
    <td><%= translate 'start' %></td>
    <td><%= translate 'end' %></td>
    <td><%= translate 'action' %></td>
  </tr>
  <% @res.each do |row| %>
      <td><%= row.user.blank? ? '' : row.user.login.to_s %></td>
      <td><%= row.start.blank? ? '' : row.start.to_datetime.strftime("%Y-%m-%d %H:%M") %></td>
      <td><%= row.end.blank? ? '' : row.end.to_datetime.strftime("%Y-%m-%d %H:%M") %></td>
      <td>
        <a href="<%= Setting.plugin_mega_calendar['sub_path'] %>holidays/show?id=<%= row.id.to_s %>">
          <%= translate 'show' %>
        </a>
	<% if User.current.id == row.user.id or User.current.admin %>
        &nbsp;
        <a href="<%= Setting.plugin_mega_calendar['sub_path'] %>holidays/destroy?id=<%= row.id.to_s %>">
          <%= translate 'destroy' %>
        </a>
        <% end %>
      </td>
    </tr>
  <% end %>
  <% if @pagination == true %>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><a href="<%= Setting.plugin_mega_calendar['sub_path'] %>holidays/index?page=<%= @last_page.to_s %>"><%= translate 'prev' %></a>&nbsp;<a href="<%= Setting.plugin_mega_calendar['sub_path'] %>holidays/index?page=<%= @new_page.to_s %>"><%= translate 'next' %></a></td>
  </tr>
  <% end %>
</table>
<a href="<%= Setting.plugin_mega_calendar['sub_path'] %>holidays/new"><%= translate 'new' %></a>
